<div class="grid-container mainContainer">
  <div class="headingSection">
    <!--MAIN HEADING SECTION-->
    <section class="left">
      <p>List Name </p>
      <span id="newItem"></span>
      <p>Total {{itemCount}}</p>
    </section>

    <section class="right">
      <div class="plus" (click)="openAddModal($event)">
        <i class="material-icons">add</i>
      </div>
      <div class="caret" (click)="myEvent($event)">
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </section>

  </div>

  <!--THIS MODAL POPS UP WHEN CLICKED ANYWHERE ON THE SPECIFIC LIST ITEM-->
  <div id="viewModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="itemImg1"></div>
      <p class="nameData1"></p>
      <p class="subData1"></p>
      <p class="mainData1"></p>
      <p class="currDate1"></p>

    </div>
  </div>

  <!--THIS MODAL POPS UP WITH FORM WHEN USER WANTS TO ADD AN ITEM -->
  <div id="addModal" class="modal">
    <form (submit)="addToList($event)" class="modal-content">
      <label for="image">Image Url</label>
      <input type="text" [(ngModel)]="infoImg" name="image">
      <label for="Name">Name:</label>
      <input type="text" [(ngModel)]="iName" name="Name">
      <label for="Info">Basic Info:</label>
      <input type="text" [(ngModel)]="iInfo" name="Info">
      <label for="Main">Main Info:</label>
      <input type="text" [(ngModel)]="iMain" name="Main">
      <button type="submit">Add to list</button>
      <span class="closeAdd">&times;</span>
    </form>

  </div>

  <section class="itemMain">
    <section class="itemInnerMain" *ngFor="let ele of infoObj; index as i;">
<!--ngClass directive to apply blue bar to new items-->
        <div class="itemSection" (click)="openModalView($event,i)" [attr.data-index]="i">
          <div class="itemImg">
            <img src= {{ele.infoImg}} onerror="this.src='../assets/dummy.png'">
          </div>
          <div class="itemData">

            <p class="nameData">{{ele.iName}}</p>

            <p class="subData">{{ele.iInfo}}</p>

            <p class="mainData">{{ele.iMain}}</p>

            <p class="currDate">
              <i class="material-icons">event</i>
              <span> {{today | date:"EEE MMM dd yyyy"}}</span>
            </p>
          </div>

          <div class="trashArea delete" (click)="del($event,i)" [attr.data-index]="i">
            <!-- <img src= {{trashImage}}> -->
            <i class="material-icons">delete</i>
          </div>
        </div>
  
    </section>
  </section>

  <footer>
    <span (click)="loadMore($event)" class="load" id="loadMore">Load More</span>
  </footer>
</div>
