<div class="grid-container mainContainer">
  <div class="headingSection">

    <section class="left">
      <p>List Name</p>
      <p>Total {{itemCount}}</p>
    </section>

    <section class="right">
      <div class="plus">
        <i class="material-icons">add</i>
      </div>
      <div class="caret">
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </section>

  </div>


  <div class="itemSection" *ngFor="let ele of infoObj">


    <div class="itemImg">
      <img src= {{ele.infoImg}}>
    </div>

    <div class="itemData" >
      <p class="nameData">{{ele.iName}}</p>

      <p class="subData">{{ele.iInfo}}</p>

      <p class="mainData">{{ele.iMain}}</p>

      <p class="currDate">
        <i class="material-icons">event</i>
        <span> {{today | date:"EEE MMM dd yyyy"}}</span>
      </p>
    </div>

    <div class="trashArea delete">
      <!-- <img src= {{trashImage}}> -->
      <i class="material-icons">delete</i>
    </div>

  </div>

  <footer>
    <a href="">Load More...</a>
  </footer>
</div>

<script>
  function Controller($scope) {
    $scope.flightsProcessed = true;
    $scope.invert = function () {
      $scope.flightsProcessed = !$scope.flightsProcessed;
    };
  }

</script>
